@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 89%;
    /* #E3E3E3 */
    --foreground: 205 51% 22%;
    /* #1B3C53 (Deep Blue as text) */
    --card: 0 0% 100%;
    --card-foreground: 205 51% 22%;
    --popover: 0 0% 100%;
    --popover-foreground: 205 51% 22%;
    --primary: 205 51% 22%;
    /* #1B3C53 */
    --primary-foreground: 0 0% 100%;
    --secondary: 205 50% 28%;
    /* #234C6A */
    --secondary-foreground: 0 0% 100%;
    --muted: 206 31% 39%;
    /* #456882 */
    --muted-foreground: 205 50% 28%;
    --accent: 206 31% 39%;
    /* #456882 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 31% 39%;
    --input: 206 31% 39%;
    --ring: 205 51% 22%;
    --radius: 0rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 205 51% 22%;
    /* #1B3C53 */
    --foreground: 0 0% 89%;
    /* #E3E3E3 */
    --card: 205 50% 28%;
    --card-foreground: 0 0% 89%;
    --popover: 205 50% 28%;
    --popover-foreground: 0 0% 89%;
    --primary: 0 0% 89%;
    /* #E3E3E3 */
    --primary-foreground: 205 51% 22%;
    --secondary: 206 31% 39%;
    --secondary-foreground: 0 0% 100%;
    --muted: 205 50% 28%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 205 50% 28%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 30%;
    --chart-5: 0 0% 10%;
    --sidebar-background: 0 0% 11%;
    --sidebar-foreground: 60 8% 97%;
    --sidebar-primary: 60 8% 97%;
    --sidebar-primary-foreground: 0 0% 11%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 60 8% 97%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 60 8% 97%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}